* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1128px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col {
    width: 100%;
}

.col + col {
    margin-left: 30px;
}

.hero {
    background-color: #f3eed9;
    min-height: 660px;
}

.hero__title--one {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.hero__title--two {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 3.75rem;
    text-align: center;
    color: #824936;
}

.one {
    padding: 2.5em;
}

.one__title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #824936;
} 

.one__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}

.two {
    display: flex;
    padding: 3em;
    background-color: #222C2A;
}

.two__content {
    margin-right: 3em;
}

.two_content--title {
    color: #F3EED9;
}

.two_content--pg {
    color: #fff;
}

.three {
    display: flex;
    padding: 5em;
    background-color: #824936;
}

.three__content {
   
    margin-right: 3em;
}

.three__content--title {
    color: #F3EED9;
}

.three__content--pg {
    color: #fff;
}