@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Oswald:wght@700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Monserrat', sans-serif;
}

header {
  background-color: #2E323F;
  padding: 1em 0;
  text-align: center;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

img {
  max-width: 100%;
}

h1, h2 {
  margin-top: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  line-height: 1;
}

p {
  font-family: 'Monserrat', sans-serif;
}

.main {
  margin-top: 3em;
}

section {
  margin: 0 auto;
}


.footer {
  background-color: #3B4050;
  margin: 0;
  padding: 2em 2em;
}


.logo {
  height: 30px;
  color: #FFFFFF;
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1rem;
  width: 100%;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #072A2D;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: .75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__list--primary {
  margin-bottom: 2em;
}


.nav__list--secondary {
  margin-bottom: 0.75em;
}

.nav__item {
  margin-top: 0.75em;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__link {
  color: #6F737F;
  text-decoration: none;
}

.nav__link--button {
  background-color: #A59678;
  color: #ffffff;
  padding: 0.4em 0.8em;
  border-radius: 100px;
  text-transform: uppercase;
}

.hero {
  background-color: #3B4050;
  padding: 100px 0;

}

.hero h1 {
  font-size: 90px;
  color: #FFFFFF;
}

.hero span {
  color: #A59678;
}

.hero p {

  font-size: 24px;
  color: #6F737F;
}

.btn {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  background-color: #A59678;
  padding: 0.25em 1.2em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  letter-spacing: 1.5px;
}

.intro {
  padding: 100px 0;
  background-color: #f1f1f1;
  text-align: center;
}

.intro__title h2 {
  font-size: 30px;
  color: #A59678;
}

.intro__title p {
  font-size: 18px;
  color: #6F737F;
}


.section__title {
  font-size: 36px;
  color: #A59678;
}

.primary__content p {
  font-size: 21px;
  line-height: 1.5;
  color: #6F737F;
}

.sidebar__content {
  background-color: #3B4050;
  padding: 3.5em 0.85em;
  margin-bottom: 1.5em;
  text-align: center;
}

.sidebar__content h2 {

  font-size: 30px;
  color: #FFFFFF;
}

.sidebar__content p {
  font-size: 21px;
  color: #6F737F;
}

.footer__heading {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
}

.footer__title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #A59678;
}

.footer__text,
.footer__links {
  font-family: 'Monserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  color: #6F737F;
}

@media (min-width: 700px) {

  .hero__text {
    width: 62%;
  }

  .img {
    align-self: flex-start;
    margin: 0;
  }

  .sidebar {
    display: flex;
  }

  .sidebar__content+.sidebar__content {
    margin-left: 2.5em;
  }

}

@media (min-width: 1000px) {
  .row {
    display: flex;
    justify-content: space-between;
  }


  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }

  .nav__list {
    display: flex;
    margin: 0;
  }

  .nav__item {
    margin: 0 0 0 1.5em;
  }

  .primary__content {
    width: 62%;
  }

  .sidebar {
    display: block;
    width: 32%;
  }

  .sidebar__content +.sidebar__content {
    margin-left: 0;
  }
}